body {
  font-family: Arial, sans-serif;
}
h1 {
  letter-spacing: 6px;
  text-align: center;
  position: relative;
}
.copyright {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: grey;
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f3f3f3;
  border: 2px solid #e7e7e7;
}
li {
  float: left;
  border: 2px solid #000;
  display: block;
  width: 218px;
  margin-left: 2px;
}

li a {
  display: block;
  color: #009;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}
li a:hover {
  background-color: coral;
}
#menu {
  margin: 10px;
  width: 900px;
  font-family: Times News Roman;
}